import { Migration, Types } from 'miter';

export default <Migration>{
    up: async (queryInterface, sequelize) => {
        
    },
    
    down: async (queryInterface, sequelize) => {
        
    }
}
