{
    "$schema": "http://json.schemastore.org/tsconfig",
    "compilerOptions": {
        "module": "commonjs",
        "target": "es6",
        "moduleResolution": "node",
        "strictNullChecks": true,
        "rootDir": ".",
        "outDir": "bin/migrations"
    },
    "exclude": [
        "bin"
    ]
}
