import { Migration } from 'miter';

module.exports = <Migration>{
    up: async (queryInterface, sequelize) => {
        
    },
    
    down: async (queryInterface, sequelize) => {
        
    }
}
